#header {
	background: #696969;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;

	#title {
		font-size: 120%;
		color: #FFFFFF;
		text-align: center;
	}

	#navi {
		font-size: 80%;
		text-align: right;
	}
}
